body {
    background-color: #89DAB9;
}

#schedule-container , #title {
    font-family: 'Prompt';
    
}

#schedule-container {
background-color: #74987B;
}

#btn {
background-color: #89DAB9;
}

input {
   font-size: 20px; 
}

.past {
    background-color: rgb(161, 159, 159);
}

.present {
    background-color: rgb(200, 78, 78);
}

.future {
    background-color: rgb(69, 231, 150);
}
