body {
    background-color: #89DAB9;
}

#schedule-container , #title {
    font-family: 'Prompt';
    
}

#schedule-container {
background-color: hsl(184, 30%, 43%);
}

#time-display {
    background-color: black;
}
#btn {
background-color: #89DAB9;
}

textarea {
   font-size: 20px; 
   line-height: 40px;
}

.past {
    background-color: rgb(149, 149, 149);
}

.present {
    background-color: rgb(200, 78, 78);
}

.future {
    background-color: rgb(69, 231, 150);
}

button:hover {
    opacity: 75%;
}
